<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account - Products</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/account/accountProducts/accountProducts.css" />
    <!-- <script src="account.js"></script> -->
  </head>
  <body>
    <div class="header" id="header"></div>
    <main>
      <div class="accountNavBar" id="accountNavBar"></div>
      <div class="products container">
        <h1>Products</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Description</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody id="orderTableBody">
            <tr>
              <td>Product 1</td>
              <td>15</td>
              <td>3</td>
              <td>This is product 2</td>
              <td>
                <img
                  src="/assets/9d9f68ed2e69fe48a36b39fe02c20e0f.png"
                  alt="Product Image"
                />
              </td>
            </tr>
            <tr>
              <td>Product 2</td>
              <td>15</td>
              <td>3</td>
              <td>This is product 2</td>
              <td>
                <img
                  src="/assets/63420a35062d7b7f501744090005c34c.png"
                  alt="Product Image"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-end">
          <div class="col-auto">
            <button
              type="button"
              class="plus-button btn btn-dark rounded-circle fs-3"
              data-toggle="modal"
              data-target="#myModal"
            >
              &#43;
            </button>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-dark">
              <h5 class="modal-title text-light" id="exampleModalLabel">
                New Product
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Name:</label>
                  <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Price:</label>
                  <input type="number" class="form-control" id="price" />
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Quantity:</label>
                  <input type="number" class="form-control" id="quantity" />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Description:</label
                  >
                  <textarea class="form-control" id="description"></textarea>
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Image:</label>
                  <input type="file" class="form-control" id="image" />
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-dark">Save</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="footer" id="footer"></div>

    <!-- <script src="\frontend\views\partials\partials.js"></script> -->
    <!-- <script src="\frontend\views\layouts\account\account.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
