<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <script src="\frontend\node_modules\jquery\dist\jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="\frontend\views\layouts\ShopPage\ShopPage.css"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>

    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>
  </head>

  <body class="flex-column">
    <header>
      <div id="header"></div>
    </header>
    <main class="shop-page">
      <div class="container.col-xxl">
      <section class="section1__section1">
          <div class="row">
            <aside class="col-md-2">
              <div class="left-aside">
                <h1 class="section1__title">Shop The Latest</h1>
                <div class="form-group">
                  <label class="section1__divider">Shop By</label>
                  <select class="form-select" aria-label="Default select example" id="shopBy">
                    <option value="all">All</option>
                    <option value="coffee-machine">Espresso Machines</option>
                    <option value="capsules">Capsules</option>
                    <option value="coffee-beans">Coffee Beans</option>
                    <option value="accessories">Accessories</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="section1__divider">Sort By</label>
                  <select class="form-select" aria-label="Default select example" id="sortBy">
                    <option value="none">None</option>
                    <option value="least">Lowest Price</option>
                    <option value="most">Highest Price</option>
                  </select>
                </div>
                <div class="section1__flexRow1">
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault1"
                    />
                    <label
                      class="form-check-label"
                      for="flexSwitchCheckDefault1"
                      >On Sale</label
                    >
                  </div>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault2"
                    />
                    <label
                      class="form-check-label"
                      for="flexSwitchCheckDefault2"
                      >On Stock</label
                    >
                  </div>
                </div>
              </div>
            </aside>
            <div class="col-md-9">
              <div class="product-list" >
                <div class="box-wrap" >
                 <div class="row">
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\1eef544168a037e4a08cce2cbbf47d86.png"
                      alt="alt text"
                      class="productImage"
                    />
                    <h3 class="product-name">Lattissima one</h3>
                    <h3 class="product-price">$ 660</h3>
                  </div>
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\373b6af1c8dcfddc3169464dae0c165e.png"
                      class="productImage"
                      alt="alt text"
                    />
                    <h3 class="product-name">Nespresso Atelier</h3>
                    <h3 class="product-price">$ 550</h3>
                  </div>
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\9d9f68ed2e69fe48a36b39fe02c20e0f.png"
                      alt="alt text"
                      class="productImage"
                    />
                    <h3 class="product-name">CitiZ</h3>
                    <h3 class="product-price">$ 350</h3>
                  </div>
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                      alt="alt text"
                      class="productImage"
                    />
                    <h3 class="product-name">Creatista Plus</h3>
                    <h3 class="product-price">$ 750</h3>
                  </div>
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\0b7472f22e8a70a6a61fadb5a70c514f.png"
                      alt="alt text"
                      class="productImage"
                    />
                    <h3 class="product-name">Creatista Plus</h3>
                    <h3 class="product-price">$ 750</h3>
                  </div>
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\0b7472f22e8a70a6a61fadb5a70c514f.png"
                      alt="alt text"
                      class="productImage"
                    />
                    <h3 class="product-name">Creatista Plus</h3>
                    <h3 class="product-price">$ 750</h3>
                  </div>
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                      alt="alt text"
                      class="productImage"
                    />
                    <h3 class="product-name">Creatista Plus</h3>
                    <h3 class="product-price">$ 750</h3>
                  </div>
                  <div
                    class="col-md-4 box coffee-machine"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <img
                      src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                      alt="alt text"
                      class="productImage"
                    />
                    <h3 class="product-name">Creatista Plus</h3>
                    <h3 class="product-price">$ 750</h3>
                  </div>

                  <div
                    class="col-md-4 box coffee-beans"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <div id="productContainer">
                      <img
                        src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                        alt="alt text"
                        class="productImage"
                      />
                      <h3 class="product-name">Creatista Plus</h3>
                      <h3 class="product-price">$ 750</h3>
                    </div>
                  </div>

                  <div
                    class="col-md-4 box accessories"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <div id="productContainer">
                      <img
                        src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                        alt="alt text"
                        class="productImage"
                      />
                      <h3 class="product-name">Creatista Plus</h3>
                      <h3 class="product-price">$ 750</h3>
                    </div>
                  </div>

                  <div
                    class="col-md-4 box coffee-beans"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                    <div id="productContainer">
                      <img
                        src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                        alt="alt text"
                        class="productImage"
                      />
                      <h3 class="product-name">Creatista Plus</h3>
                      <h3 class="product-price">$ 750</h3>
                    </div>
                  </div>

                  <div
                    class="col-md-4 box capsules"
                    id="productCell"
                    onclick="window.location.href = '/frontend/views/layouts/ProductPage/ProductPage.html'"
                  >
                      <img
                        src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                        alt="alt text"
                        class="productImage"
                      />
                      <h3 class="product-name">Creatista Plus</h3>
                      <h3 class="product-price">$ 750</h3>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>      
    </main>
    <footer>
      <div id="footer"></div>
    </footer>
      <script src="\frontend\views\layouts\ShopPage\ShopPage.js"></script>
  </body>
</html>
