<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="\frontend\node_modules\jquery\dist\jquery.min.js"></script>
    <script src="./loginPage.js"></script>
    <link rel="stylesheet" type="text/css" href="./loginPage.css" />
    <title>Login</title>
  </head>

  <body class="flex-column">
    <header id="header" class="headroom"></header>
    <div class="my-account root">
      <div class="flexCol">
        <h1 class="title">Login</h1>
        <div class="cell2">
          <div class="flexCol1">
            <div class="flexCol2">
              <label class="highlights2" for="email">Email</label>
              <input type="text" class="login-input" name="email">
            </div>
            <div class="flexCol3">
              <label class="highlights2" for="password">Password</label>
              <input type="password" class="login-input" name="password">
            </div>
            <div class="flexRow">
              <div class="rect3"></div>
              <h5 class="highlights1">Remember me</h5>
            </div>
            <button class="content_box"><h4 class="highlights">SIGN IN</h4></button>
            <h5 class="highlights11">Have you forgotten your password?</h5>
          </div>
        </div>
      </div>
      <div class="component">
        <section id="footer" class="footer footer__section2"> </section>
      </div>
    </div>
  </body>
</html>
