<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link
      rel="stylesheet"
      type="text/css"
      href="\src\views\layouts\PrivacyPolicy\PrivacyPolicy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="\src\views\partials\Header\Header0.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="\src\views\partials\Footer\Footer.css"
    />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
  </head>

  <body class="flex-column">
    <header id="header" class="headroom">
      <nav class="max:show">
        <!-- prettier-ignore -->
        <div class="header0 header0__group1">
            <div class="header0__flexRow">
              <h2 class="header0__medium_title" onclick="alert(`It is clickable`)">Urusta.</h2>
              <div class="spacer"></div>
              <div class="header0__box">
                <div class="header0__flexRow1">
                  <div class="cell">
                    <px-grid track-style="flex-grow: 1;" x="7.02px 70.98fr 24fr" y="0px minmax(0px, max-content) 0fr"
                      ><div class="header0__txt" onclick="window.location.href = 'ShopPage.html'">Shop</div></px-grid
                    >
                  </div>
                  <div class="cell1"><h4 class="header0__highlights2" onclick="alert(`It is clickable`)">Our Story</h4></div>
                  <div class="spacer"></div>
                  <div class="header0__rect5"></div>
                  <div class="spacer1"></div>
                  <div class="cell2">
                    <img
                      src="\src\views\partials\assets\d652c1328e3779d6ed57fa1af8dbec68.png"
                      alt="alt text"
                      class="header0__image10"
                      onclick="alert(`It is clickable`)"
                    />
                  </div>
                  <div class="spacer2"></div>
                  <div class="cell3">
                    <img
                      src="\src\views\partials\assets\c17d264818e2602d684362f3a37cf356.png"
                      alt="alt text"
                      class="header0__icon1"
                      onclick="alert(`It is clickable`)"
                    />
                  </div>
                  <div class="spacer2"></div>
                  <div class="cell2">
                    <img
                      src="\src\views\partials\assets\5f10cef3f154249dc60ba91722a6524f.png"
                      alt="alt text"
                      class="header0__icon"
                      onclick="alert(`It is clickable`)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
      </nav>
    </header>
    <div class="privacy-policy root">
      <div class="flexCol">
        <h1 class="title">Privacy Policy</h1>
        <div class="flexCol1">
          <h5 class="highlights">
            This Privacy Policy describes how Urusta collect, use, and disclose
            information about you. This Privacy Policy applies to information
            that we collect when you use or access our websites, mobile
            applications, and services that display or link to this Privacy
            Policy, or when you otherwise interact with us.<br />
          </h5>
          <div class="flexCol2">
            <h2 class="medium_title">Security</h2>
            <h5 class="highlights1">
              We use standard security measures. While we make every effort to
              help ensure the integrity and security of our network and systems,
              the Internet is not 100% secure. We cannot promise that your use
              of our sites and apps will be completely safe. We encourage you to
              use caution, and not to share or reuse passwords.
            </h5>
          </div>
          <div class="flexCol3">
            <h2 class="medium_title">We Combine Imformation</h2>
            <h5 class="highlights2">
              We may combine the information we receive from and about you,
              including information you provide to us and information we
              automatically collect through our Services, as well as information
              collected offline, across other computers or devices that you may
              use, and from third party sources.
            </h5>
          </div>
        </div>
      </div>
      <div class="component">
        <!-- prettier-ignore -->
        <section class="footer footer__section2">
            <hr size="1" class="footer__line" />
            <div class="footer__group">
              <div class="footer__nullContent">
                <div class="footer__flexCol">
                  <div class="footer__flexRow">
                    <h5 class="footer__highlights1" onclick="alert(`It is clickable`)">CONTACT</h5>
                    <div class="spacer"></div>
                    <h5 class="footer__highlights11" onclick="alert(`It is clickable`)">TERMS OF SERVICES</h5>
                    <div class="spacer1"></div>
                    <h5 class="footer__highlights12" onclick="alert(`It is clickable`)">SHIPPING AND RETURNS</h5>
                  </div>
                  <h5 class="footer__highlights_box">
                    <span class="footer__highlights"
                      ><span class="footer__highlights_span0">© 2023 MadMach.</span
                      ><span class="footer__highlights_span1"> Terms of use </span
                      ><span class="footer__highlights_span2">and</span
                      ><span class="footer__highlights_span3"> privacy policy.</span></span
                    >
                  </h5>
                </div>
                <div class="spacer"></div>
                <div class="footer__flexCol1">
                  <div class="footer__flexCol2">
                    <div class="footer__group1">
                      <img
                        src="\src\views\partials\assets\b7e1c0cf5ea9d66d3515dc9f50dccd61.png"
                        alt="alt text"
                        class="footer__image1"
                        onclick="alert(`It is clickable`)"
                      />
                      <h5 class="footer__highlights13">Give an email, get the newsletter.</h5>
                    </div>
                    <hr size="1" class="footer__line1" />
                  </div>
                </div>
              </div>
              <img src="\src\views\partials\assets\eb08941b8a6fe08d5d6166df2f6af99b.png" alt="alt text" class="footer__image2" />
            </div>
          </section>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();

      const header = document.querySelector("#header");
      if (header) {
        const headroom = new Headroom(header);
        headroom.init();
      }
    </script>
  </body>
</html>
