<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/account/accountDetails/accountDetails.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <title>My Account - Details</title>
  </head>
  <body>
    <div class="header" id="header"></div>
    <div class="privacy-policy root">
      <div class="flexCol">
        <h1 class="title">Privacy Policy</h1>
        <div class="flexCol1">
          <h5 class="highlights">
            This Privacy Policy describes how Urusta collect, use, and disclose information about you. This Privacy Policy applies to information that we collect when you use or access our websites, mobile applications, and services that display or
            link to this Privacy Policy, or when you otherwise interact with us.<br />
          </h5>
          <div class="flexCol2">
            <h2 class="medium_title">Security</h2>
            <h5 class="highlights1">
              We use standard security measures. While we make every effort to help ensure the integrity and security of our network and systems, the Internet is not 100% secure. We cannot promise that your use of our sites and apps will be
              completely safe. We encourage you to use caution, and not to share or reuse passwords.
            </h5>
          </div>
          <div class="flexCol3">
            <h2 class="medium_title">We Combine Imformation</h2>
            <h5 class="highlights2">
              We may combine the information we receive from and about you, including information you provide to us and information we automatically collect through our Services, as well as information collected offline, across other computers or
              devices that you may use, and from third party sources.
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="footer" id="footer"></div>

    <script src="\partials\partials.js"></script>
    <script src="/account/accountDetails/accountDetails.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
