.card {
  border: none;
  box-shadow: none;
}

.card-img-top {
  height: 15.65rem;
}

.card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-left: 0.75rem;
}

.specific-product.card-subtitle {
  font-size: 0.938rem;
  color: #a18a68;
  margin-top: 1rem;
}

.card-title {
  margin-left: 0rem;
}
.card-text {
  font-size: 0.813rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.section1__greyed-text {
  color: #707070;
  margin-top: 1.5rem;
  min-height: 5rem;
}

.section1__flexCol4 {
  margin-top: 1.25rem;
}

.section1__box {
  display: flex;
  align-items: center;
  margin-right: 0rem;
}

.counter-button {
  display: flex;
  align-items: center;
  background-color: #eee;
  color: #707070;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.counter-button button {
  border: none;
  background-color: transparent;
  color: #707070;
  font-size: 0.875rem;
  cursor: pointer;
}

.counter-value {
  margin: 0 0.75rem;
  font-size: 1rem;
}

.add-to-cart-container {
  position: relative;
  margin-left: 7rem;
}

.section1__flexRow5,
.section1__flexRow6 {
  margin-top: 1.25rem;
}

.section1__highlights11 {
  font-size: 14px;
  font-weight: bold;
}

.section1__highlights6,
.section1__highlights8 {
  font-size: 14px;
  color: #666;
  margin-left: 0.5rem;
}

.custom-card .card-body,
.custom-card .card-body-sub,
.custom-card .card-title-sub,
.custom-card .list-group-item {
  border: none;
}

.custom-card .card-body {
  border-bottom: 1px solid #d3d3d3;
}

.card-body-sub h5 {
  font-size: 0.875rem;
}
.card-title-sub {
  font-size: 0.813rem;
  margin-bottom: 0;
}

.list-group-item {
  border: none;
  padding: 0;
  margin-bottom: 1rem;
}

.section2__label {
  display: inline-block;
  font-weight: bold;
  font-size: 0.813rem;
}

.section2__value {
  display: inline-block;
  margin-left: 0.5rem;
  color: #808080;
  font-size: 0.813rem;
}

.text-box {
  margin-left: 1rem;
}
.section2__title h4 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.section2__title {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}

.add-to-cart-button {
  padding: 0.5rem 6rem;
  height: 3rem;
  border: 1px solid #707070;
  border-radius: 0.25rem;
  background-color: white;
  color: #000;
  font-size: 0.813rem;
  font-weight: bold;
  cursor: pointer;
  right: 0;
  width: 25rem;
}

.message-content-box {
  position: relative;
  width: 91.25rem;
  height: 2.813rem;
  margin: -1.125rem 0 0 12.1875rem;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  z-index: 1;
}
.custom-card .card {
  border: none;
  box-shadow: none;
}

.message-content-flex {
  display: flex;
  width: 100%;
}

.message-icon {
  width: 14px;
  height: 14px;
  margin-left: 0.25rem;
  margin-top: 0.1rem;

  position: relative;
}

.message-highlights {
  font-size: 0.813rem;
  margin-right: auto;
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.view-cart-button {
  cursor: pointer;
  color: #a18a68;
  position: absolute;
  margin-top: 0.6rem;
  right: 1rem;
  font-size: 0.719rem;
  min-width: 3rem;
}

.message-content-box {
  position: relative;
  width: 100%;
  max-width: 91.25rem;
  height: 2.813rem;
  /* min-width: 50rem; */
  margin: -1.125rem 0 0 12.1875rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  /* z-index: 1; */
}

@media (max-width: 768px) {
  .message-content-box {
    font-size: 0.875px;
    margin-left: 3rem;
  }
  */ .message-highlights {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  .view-cart-button {
    margin-left: 1rem;
    font-size: 0.625rem;
  }
}

@media (max-width: 425px) {
  .message-content-box {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
  }
  */ .message-highlights {
    font-size: 0.625rem;
    margin-left: 0.25rem;
  }

  .view-cart-button {
    margin-left: 4rem;
    font-size: 0.5rem;
  }
  .section1__box {
    margin-right: 0rem;
  }

  .add-to-cart-button {
    min-width: 10rem;
    width: 10rem;
    margin-left: 2rem;
    padding: 0;
    text-align: center;
  }
  .add-to-cart-container {
    position: relative;
    margin-left: 1rem;
  }
}

.box {
  padding: 1.875rem;
  margin: 2%;
  background: white;
  /* width: 10%; */
  border-radius: 0.1875rem;
  transition: 0.2s all;
  cursor: pointer;
}
.box-wrap:hover .box {
  filter: blur(0.1875rem);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.box-wrap:hover .box:hover {
  transform: scale(1);
  filter: blur(0rem);
  opacity: 1;
  box-shadow: 0 0.5rem 1.25rem 0rem rgba(0, 0, 0, 0.125);
}
