<footer class="footer">
  <hr class="footer-line" />
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <h5 class="footer-highlights">
          © 2023 MadMach.
          <a href="/frontend/views/layouts/TermsOfServise/TermsOfServise.html"
            >Terms of use</a
          >
          and
          <a href="/frontend/views/layouts/PrivacyPolicy/PrivacyPolicy.html"
            >privacy policy</a
          >.
        </h5>
      </div>
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="footer-icons">
              <a href="https://www.instagram.com">
                <img
                  src="/frontend/views/partials/assets/instagramIcon.png"
                  alt="Instagram"
                  class="footer-icon"
                />
              </a>
              <a href="https://www.facebook.com">
                <img
                  src="/frontend/views/partials/assets/facebookIcon.png"
                  alt="Facebook"
                  class="footer-icon"
                />
              </a>
              <a href="https://www.twitter.com">
                <img
                  src="/frontend/views/partials/assets/twitterIcon.png"
                  alt="Twitter"
                  class="footer-icon"
                />
              </a>
              <a href="https://www.linkedin.com">
                <img
                  src="/frontend/views/partials/assets/linkedinIcon.png"
                  alt="LinkedIn"
                  class="footer-icon"
                />
              </a>
            </div>
          </div>
          <div class="col-auto">
            <div class="footer-group">
              <form class="form-inline" id="newsletter" role="newsletter">
                <input
                  class="form-control mr-2"
                  placeholder="Give an email, get the newsletter.."
                  aria-label="Email"
                />
                <h5 class="footer-highlights" onclick="resetPlaceholder()">
                  <img
                    src="/frontend/views/partials/assets/b7e1c0cf5ea9d66d3515dc9f50dccd61.png"
                    alt="Newsletter"
                    class="footer-image"
                  />
                </h5>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
