<link
  rel="stylesheet"
  type="text/css"
  href="\frontend\views\partials\Footer\Footer.css"
/>
<section class="footer footer__section2">
  <hr size="1" class="footer__line" />
  <div class="footer__group">
    <div class="footer__nullContent">
      <div class="footer__flexCol">
        <div class="footer__flexRow">
          <h5 class="footer__highlights1" onclick="alert(`It is clickable`)">
            CONTACT
          </h5>
          <div class="spacer"></div>
          <h5 class="footer__highlights11" onclick="alert(`It is clickable`)">
            TERMS OF SERVICES
          </h5>
          <div class="spacer1"></div>
          <h5 class="footer__highlights12" onclick="alert(`It is clickable`)">
            SHIPPING AND RETURNS
          </h5>
        </div>
        <h5 class="footer__highlights_box">
          <span class="footer__highlights"
            ><span class="footer__highlights_span0">© 2023 MadMach.</span
            ><span class="footer__highlights_span1"> Terms of use </span
            ><span class="footer__highlights_span2">and</span
            ><span class="footer__highlights_span3">
              privacy policy.</span
            ></span
          >
        </h5>
      </div>
      <div class="spacer"></div>
      <div class="footer__flexCol1">
        <div class="footer__flexCol2">
          <div class="footer__group1">
            <img
              src="/frontend/views/partials/assets/b7e1c0cf5ea9d66d3515dc9f50dccd61.png"
              alt="alt text"
              class="footer__image1"
              onclick="alert(`It is clickable`)"
            />
            <h5 class="footer__highlights13">
              Give an email, get the newsletter.
            </h5>
          </div>
          <hr size="1" class="footer__line1" />
        </div>
      </div>
    </div>
    <img
      src="/frontend/views/partials/assets/eb08941b8a6fe08d5d6166df2f6af99b.png"
      alt="alt text"
      class="footer__image2"
    />
  </div>
</section>
