.counter-button {
    display: flex;
    align-items: center;
    background-color: #eee;
    color: #2d2d2d;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    width: 4rem;
    font-size: 1.1rem;
}

.counter-button button {
    border: none;
    background-color: transparent;
    color: #2d2d2d;
    font-size: 1.09rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .cart-title {
        margin-top: 3%;
    }
}

@media (max-width: 768px) {
    .cart-title {
        margin-top: 2%;
    }
}


.product-image {
    width: 10rem;
    height: 100px;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
}

.about {
    height: 100%;
}

.title {
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}

.subtitle {
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
}