.counter-button {
    display: flex;
    align-items: center;
    background-color: #eee;
    color: #2d2d2d;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    width: 4rem;
    font-size: 1.1rem;
}

.counter-button button {
    border: none;
    background-color: transparent;
    color: #2d2d2d;
    font-size: 1.09rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .cart-title {
        margin-top: 3%;
    }
}

@media (max-width: 768px) {
    .cart-title {
        margin-top: 2%;
    }
}

#total-title {
    justify-content: left;
    justify-self: left;
}

.product-container {
    margin-bottom: 2rem;
}

.product-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product-details {
    margin-left: 2rem;
    justify-content: left;
}

.product-quantity {
    display: flex;
    align-items: center;
}

.product-quantity button {
    border: none;
    background-color: #2d2d2d;
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
}

#product-title {
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}

.item-amount {
    font-size: 22px;
    font-weight: 600;
}