<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/assets/favicon-16x16.png" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/ourStory/ourStory.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>My Account - Details</title>
  </head>
  <body>
    <div class="header" id="header"></div>

    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <script
          src="https://code.jquery.com/jquery-3.7.0.js"
          integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
          crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/ourStory/ourStory.css" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <title>Our Story</title>
      </head>
      <body>
        <div class="header" id="header"></div>

        <main class="our-story main">
          <div class="cell">
            <section class="section1__section1">
              <div class="section1__flexCol">
                <h1 class="section1__title">About Us</h1>
                <div class="section1__flexCol1">
                  <h5 class="section1__highlights">
                    Welcome to Urusta, your ultimate destination for all things
                    coffee! We are a passionate team of coffee enthusiasts
                    dedicated to bringing you the finest selection of coffee
                    machines and a wide range of other coffee-related products.
                    Whether you&#x27;re a casual coffee lover or a seasoned
                    connoisseur, we have everything you need to enhance your
                    coffee experience.
                  </h5>
                  <div class="section1__flexCol2">
                    <h2 class="section1__medium_title">Quality</h2>
                    <h5 class="section1__highlights1">
                      We pride ourselves on providing exceptional customer
                      service and ensuring your complete satisfaction. Our
                      knowledgeable team is always ready to assist you in
                      finding the perfect coffee machine or product that matches
                      your needs and preferences. We understand that choosing
                      the right equipment can be overwhelming, so we are here to
                      guide you through the selection process, answer your
                      questions, and provide personalized recommendations.
                    </h5>
                  </div>
                  <div class="section1__flexCol2">
                    <h2 class="section1__medium_title">Discover</h2>
                    <h5 class="section1__highlights1">
                      We pride ourselves on providing exceptional customer
                      service and ensuring your complete satisfaction. Our
                      knowledgeable team is always ready to assist you in
                      finding the perfect coffee machine or product that matches
                      your needs and preferences. We understand that choosing
                      the right equipment can be overwhelming, so we are here to
                      guide you through the selection process, answer your
                      questions, and provide personalized recommendations.
                    </h5>
                  </div>
                  <h5 class="section1__highlights2">
                    Thank you for choosing Urusta as your trusted destination
                    for all your coffee needs. We look forward to serving you
                    and being a part of your coffee journey. Get ready to awaken
                    your senses and savor the rich flavors and aromas of the
                    perfect cup of coffee. Cheers!<br />
                  </h5>
                  <div class="video-container text-center">
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/ohyJOm6Lk3k"
                      frameborder="0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </main>

        <div class="footer" id="footer"></div>

        <script src="\partials\partials.js"></script>
        <script src="/ourStory/ourStory.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </body>
    </html>
  </body>
</html>
