<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urusta</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="HomePage.css" />
    <script src="HomaPage.js"></script>
  </head>
  <body>
    <div class="header" id="header"></div>

    <!-- Hero Section -->
    <header class="hero bg text-white text-center py-5">
      <div class="container">
        <h1 class="display-4">Welcome to URUSTA</h1>
        <p class="lead">
          Welcome to Our Coffee Shop! Step into our cozy haven, where the
          aromatic embrace of freshly brewed coffee and the friendly ambiance
          await you. Indulge in our carefully crafted beverages and savor the
          moments of pure bliss and caffeine-fueled happiness.
        </p>
        <a href="#" class="btn btn-light btn-lg">Look at our Products</a>
      </div>
    </header>

    <!-- Features Section -->
    <section class="features py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Top Sellers</h5>
                <p class="card-text">Description of feature 1 goes here</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">Description of feature 2 goes here</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Social Media</h5>
                <p class="card-text">Description of feature 3 goes here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <div class="footer" id="footer"></div>
    <script src="HomaPage.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
