<link rel="stylesheet" type="text/css" href="\partials\Header\Header.css" />
<script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>
<script src="\partials\Header\Header.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

<div class="header0 header0__group1">
  <div class="header0__flexRow">
    <h2 class="header0__medium_title" onclick="window.location.href = '/'">
      Urusta.
    </h2>
    <div class="header0__box">
      <div class="header0__flexRow1">
        <div class="cell">
          <h4 class="header0__txt" onclick="window.location.href = '/ShopPage'">
            Shop
          </h4>
        </div>
        <div class="cell1">
          <h4 class="header0__highlights2" onclick="window.location.href = '/OurStory'">
            Our Story
          </h4>
        </div>
        <div class="header0__rect5"></div>
        <form class="d-flex" id="searchBar" role="search">
          <input class="form-control me-2" id="searchBar" placeholder="Search Here.." aria-label="Search" />
        </form>
        <div class="cell2">
          <img src="/assets/search.png" alt="alt text" class="header0__image10" onclick="resetSearchBar()" />
        </div>
        <div class="cell3">
          <img src="/assets/shopping-cart.png" alt="alt text" class="header0__icon1"
            onclick="window.location.href = '/Cart'" />
        </div>
        <div class="cell2">
          <img src="/assets/user.png" alt="alt text" class="header0__icon" onclick="window.location.href = '/login'" />
        </div>
      </div>
    </div>
  </div>
</div>