<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account - Template</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="account.css" />
    <script src="account.js"></script>
  </head>
  <body>
    <div class="header" id="header"></div>
    <div class="accountNavBar" id="accountNavBar"></div>
    <div class="footer" id="footer"></div>

    <!-- connect genrel header and footer, connect nav bar of account -->
    <script src="\frontend\views\partials\partials.js"></script>
    <script src="\frontend\views\layouts\account\account.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
