<link
  rel="stylesheet"
  type="text/css"
  href="\frontend\views\partials\Header\HeaderHomePage.css"
/>

<div class="header-home-page header-home-page__wrapper">
  <div
    style="--src: url(/assets/71a39aead45d185097de40b8868cc43a.png)"
    class="header-home-page__wrapper1"
  >
    <div class="header-home-page__flexRow">
      <h2
        class="header-home-page__medium_title2"
        onclick="alert(`It is clickable`)"
      >
        Urusta.
      </h2>
      <div class="spacer"></div>
      <h4
        class="header-home-page__highlights2"
        onclick="alert(`It is clickable`)"
      >
        Shop
      </h4>
      <div class="spacer1"></div>
      <h4
        class="header-home-page__highlights21"
        onclick="alert(`It is clickable`)"
      >
        Our Story
      </h4>
      <div class="spacer2"></div>
      <div class="header-home-page__rect1"></div>
      <div class="spacer3"></div>
      <div class="cell">
        <img
          src="/assets/0546d2235c8e03bac4880ef1773730f0.png"
          alt="alt text"
          class="header-home-page__image4"
          onclick="alert(`It is clickable`)"
        />
      </div>
      <div class="spacer4"></div>
      <div class="cell1">
        <img
          src="/assets/afd90b832af44449bd9687911126f2b7.png"
          alt="alt text"
          class="header-home-page__icon1"
          onclick="alert(`It is clickable`)"
        />
      </div>
      <div class="spacer4"></div>
      <div class="cell">
        <img
          src="/assets/97bcccc35033c74b6a40d5f7fbb33516.png"
          alt="alt text"
          class="header-home-page__icon"
          onclick="alert(`It is clickable`)"
        />
      </div>
    </div>
  </div>
</div>
