<script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>

<div class="header0 header0__group1">
  <div class="header0__flexRow">
    <h2 class="header0__medium_title" onclick="alert(`It is clickable`)">
      Urusta.
    </h2>
    <div class="spacer"></div>
    <div class="header0__box">
      <div class="header0__flexRow1">
        <div class="cell">
          <px-grid
            track-style="flex-grow: 1;"
            x="7.02px 70.98fr 24fr"
            y="0px minmax(22px,22fr) 0fr"
            ><div class="header0__txt" onclick="alert(`It is clickable`)">
              Shop
            </div></px-grid
          >
        </div>
        <div class="cell1">
          <h4 class="header0__highlights2" onclick="alert(`It is clickable`)">
            Our Story
          </h4>
        </div>
        <div class="spacer"></div>
        <div class="header0__rect5"></div>
        <div class="spacer1"></div>
        <div class="cell2">
          <img
            src="/assets/d652c1328e3779d6ed57fa1af8dbec68.png"
            alt="alt text"
            class="header0__image10"
            onclick="alert(`It is clickable`)"
          />
        </div>
        <div class="spacer2"></div>
        <div class="cell3">
          <img
            src="/assets/c17d264818e2602d684362f3a37cf356.png"
            alt="alt text"
            class="header0__icon1"
            onclick="alert(`It is clickable`)"
          />
        </div>
        <div class="spacer2"></div>
        <div class="cell2">
          <img
            src="/assets/5f10cef3f154249dc60ba91722a6524f.png"
            alt="alt text"
            class="header0__icon"
            onclick="alert(`It is clickable`)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
