<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a
      class="navbar-brand navbar-brand-bigger"
      href="/frontend/views/layouts/HomePage/HomePage.html"
      >Urusta.</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <form class="form-inline mx-auto">
        <input
          class="form-control mr-2"
          type="search"
          placeholder="Search Here.."
          aria-label="Search"
        />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="/frontend/views/layouts/ShopPage/ShopPage.html"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/frontend/views/layouts/OurStory/OurStory.html"
            >Our Story</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/frontend/views/layouts/Cart/Cart.html">
            <img
              src="/frontend/views/partials/assets/shopping-cart.png"
              alt="Shopping Cart"
              class="navbar-icon"
            />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/frontend/views/layouts/MyAccount/MyAccount.html"
          >
            <img
              src="/frontend/views/partials/assets/user.png"
              alt="User Account"
              class="navbar-icon"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
