<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./loginPage.js"></script>
    <link rel="stylesheet" type="text/css" href="./loginPage.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <title>Login</title>
  </head>

  <body class="flex-column">
    <header id="header"></header>
    <h1 class="text-center login-h1">My account</h1>
    <form
      action="/login/"
      method="post"
      id="login-form"
      autocomplete="off"
      class="container text-center login-form col-xl-4 col-lg-6 col-md-8 col-sm-9"
    >
      <h2 class="login-title text-center">Login</h2>
      <div>
        <label class="row login login-lable" for="email">Email</label>
        <input
          type="email"
          class="login-input row login"
          name="email"
          id="email"
          autocomplete="off"
        />

        <label class="row login login-lable" for="password">Password</label>
        <input
          type="password"
          class="login-input row login"
          name="password"
          id="password"
          autocomplete="off"
        />

        <!-- <div class="row login form-check">
          <input
            type="checkbox"
            name="remember-me"
            id="remember-me"
            class="form-check-input login"
            autocomplete="off"
          />
          <label class="login-lable" for="remember-me">Remember me</label>
        </div> -->
      </div>

      <button class="login btn btn-dark login-submit">SIGN IN</button>
      <button class="login btn" id="goToSignUpBtn">Create an account!</button>
    </form>

    <script src="./loginPage.js"></script>
  </body>
  <div class="component">
    <section id="footer"></section>
  </div>
</html>
