<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="\frontend\node_modules\jquery\dist\jquery.min.js"></script>
    <script src="./signUpPage.js"></script>
    <link rel="stylesheet" type="text/css" href="./signUpPage.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <title>Sign up</title>
  </head>

  <body class="flex-column">
    <header id="header"></header>
    <h1 class="text-center sign-up-h1">My account</h1>
    <form
      action=""
      method="post"
      id="sign-up-form"
      class="container text-center sign-up-form col-xl-6 col-lg-5 col-md-7 col-sm-8"
    >
      <h2 class="sign-up-title text-center">Sign up</h2>
      <div>
        <div class="sign-up row row-cols-xl-2 row-cols-1">
          <div class="col text-left sign-up">
            <label class="sign-up sign-up-lable" for="firstName">
              First name
            </label>
            <input type="text" class="sign-up sign-up-input" name="firstName" />
          </div>
          <div class="col text-left sign-up">
            <label class="sign-up sign-up-lable" for="lastName">
              Last name
            </label>
            <input type="text" class="sign-up sign-up-input" name="lastName" />
          </div>
        </div>

        <div class="sign-up row">
          <div class="col text-left sign-up">
            <label class="sign-up sign-up-lable" for="email"> Email </label>
            <input
              type="email"
              class="sign-up-input sign-up"
              name="email"
              placeholder="myEmail@gmail.com"
            />
          </div>
        </div>

        <div class="sign-up row row-cols-xl-2 row-cols-1">
          <div class="col text-left sign-up">
            <label class="sign-up sign-up-lable" for="password">
              Password
            </label>
            <input
              type="password"
              class="sign-up-input sign-up"
              name="password"
            />
          </div>
          <div class="col text-left sign-up">
            <label class="col sign-up sign-up-lable" for="rePassword">
              Repeate password
            </label>
            <input
              type="password"
              class="sign-up-input col sign-up"
              name="rePassword"
            />
          </div>
        </div>

        <div class="sign-up row">
          <div class="col text-left sign-up">
            <label class="row sign-up sign-up-lable" for="phone">Phone</label>
            <input
              type="number"
              class="sign-up-input row sign-up"
              name="phone"
              placeholder="0123456789"
            />
          </div>
          <div class="col text-left sign-up">
            <label class="row sign-up sign-up-lable" for="birthday">
              Birthday
            </label>
            <input
              type="date"
              class="sign-up-input row sign-up"
              name="birthday"
            />
          </div>
        </div>

        <div class="sign-up row row-cols-1 row-cols-xl-4 row-cols-lg-2 row-cols-md-2">
          <div class="col text-left sign-up">
            <label class="row sign-up sign-up-lable" for="country">
              Country
            </label>
            <input
              type="text"
              class="sign-up-input row sign-up"
              name="country"
              placeholder="Israel"
            />
          </div>
          <div class="col text-left sign-up">
            <label class="row sign-up sign-up-lable" for="city">
              City
            </label>
            <input
              type="text"
              class="sign-up-input row sign-up"
              name="city"
              placeholder="Rishon Lezion"
            />
          </div>
          <div class="col text-left sign-up">
            <label class="row sign-up sign-up-lable" for="street">
              Street
            </label>
            <input
              type="text"
              class="sign-up-input row sign-up"
              name="street"
              placeholder="Eli Vizel"
            />
          </div>
          <div class="col text-left sign-up">
            <label class="row sign-up sign-up-lable" for="houseNumber">
              Number
            </label>
            <input
              type="text"
              class="sign-up-input row sign-up"
              name="houseNumber"
              placeholder="2"
            />
          </div>
        </div>
        <div class="sign-up row">
          <div class="col sign-up form-check">
            <input
              type="checkbox"
              name="remember-me"
              class="form-check-input sign-up col"
            />
            <label class="sign-up-lable" for="remember-me">Remember me</label>
          </div>
        </div>
      </div>

      <button class="sign-up btn btn-dark sign-up-submit">SIGN ME UP</button>
      <button class="sign-up btn">Already have an account</button>
    </form>
  </body>

  <div class="component">
    <section id="footer"></section>
  </div>
</html>
