@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.sign-up-h1 {
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.sign-up-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  background-color: #efefef;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin: 0;
}

.sign-up.text-left{
    padding-left: 0;
}
.row.sign-up,
.col.form-check-input {
  margin-left: 0;
}

.sign-up.sign-up-lable {
    padding: 0;
}
.sign-up-input {
  border: transparent;
  border-bottom: 1px solid rgb(216, 216, 216);
  color: rgb(85, 85, 85);
  font-size: medium;
  width: 100%;
}

.sign-up-input:focus-visible {
  outline: transparent;
}

.container.sign-up-form {
  height: 100%;
  padding: 0;
}

.btn.sign-up-submit {
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.sign-up-input,
.sign-up-title,
.sign-up.form-check {
  margin-bottom: 2.2rem;
}

.sign-up.btn {
  padding: 1rem;
}

/* @media (max-width: 320px) {
  .container.sign-up-form {
    width: 80%;
  }
} */
