<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account - Template</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="accountWishlist.css" />
    <script src="account.js"></script>
  </head>
  <body>
    <div class="header" id="header"></div>
    <div class="accountNavBar" id="accountNavBar"></div>
    <div class="container mt-4">
      <h1>My Wishlist</h1>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <a href="#" class="btn-close"></a>
                </div>
              </div>
              <img
                src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                class="card-img-top"
                alt="Item 2"
              />
              <h5 class="card-title">Creatista Plus</h5>
              <h3 class="product-price">$ 750</h3>
              <div class="row">
                <div class="col-auto">
                  <a href="#" class="btn btn-light">Add to Cart</a>
                </div>
                <div class="col-auto ml-auto">
                  <a href="#" class="btn btn-light">More Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <a href="#" class="btn-close"></a>
                </div>
              </div>
              <img
                src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                class="card-img-top"
                alt="Item 2"
              />
              <h5 class="card-title">Creatista Plus</h5>
              <h3 class="product-price">$ 750</h3>
              <div class="row">
                <div class="col-auto">
                  <a href="#" class="btn btn-light">Add to Cart</a>
                </div>
                <div class="col-auto ml-auto">
                  <a href="#" class="btn btn-light">More Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <a href="#" class="btn-close"></a>
                </div>
              </div>
              <img
                src="\frontend\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png"
                class="card-img-top"
                alt="Item 2"
              />
              <h5 class="card-title">Creatista Plus</h5>
              <h3 class="product-price">$ 750</h3>
              <div class="row">
                <div class="col-auto">
                  <a href="#" class="btn btn-light">Add to Cart</a>
                </div>
                <div class="col-auto ml-auto">
                  <a href="#" class="btn btn-light">More Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" id="footer"></div>

    <!-- connect general header and footer, connect nav bar of account -->
    <script src="\frontend\views\partials\partials.js"></script>
    <script src="\frontend\views\layouts\account\account.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
