<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/contactUs/contactUs.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <title>Contact Us</title>
  </head>
  <body>
    <div class="header" id="header"></div>

        <main class="contact-us main">
          <div class="cell">
            <section class="section1__section1">
              <div class="section1__flexCol">
                <h1 class="section1__title">Contact Us</h1>
                <div class="section1__flexCol1">
                  <p class="card-text">
                    If you have any questions or inquiries, please feel free to
                    reach out to us. We are here to help!
                  </p>
                  <ul class="list-unstyled">
                    <li><strong>Email:</strong> barara98@gmail.com</li>
                    <li><strong>Phone:</strong> 03-9284829</li>
                    <li>
                      <strong>Address:</strong> Rishon Le Zion, Colman College
                    </li>
                    <li>
                      <strong>Find Us:</strong>
                      <div class="text-center">
                        <iframe
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.4746837421803!2d34.864329423856226!3d32.083454219106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4a007b827c47%3A0xd528e385b406ff15!2z15fXmdeZ150g15TXlteWIDEwLCDXpNeq15cg16rXp9eV15XXlA!5e0!3m2!1siw!2sil!4v1687603926973!5m2!1siw!2sil"
                          width="400"
                          height="200"
                          style="border: 0"
                          loading="lazy"
                          referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </main>

        <div class="footer" id="footer"></div>

        <script src="\partials\partials.js"></script>
        <script src="/contactUs/contactUs.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </body>
    </html>
  </body>
</html>
