<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="\frontend\views\layouts\Cart\Cart.css" />
    <link rel="stylesheet" type="text/css" href="\src\views\partials\Header\Header0.css" />
    <link rel="stylesheet" type="text/css" href="\src\views\partials\Footer\Footer.css" />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="\frontend\node_modules\jquery\dist\jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/frontend/views/partials/Header/Header.html");
            $("#footer").load("/frontend/views/partials/Footer/Footer.html");
        });
    </script>
</head>

<body class="flex-column">
    <header id="header" class="headroom">
        <nav class="max:show">
            <!-- prettier-ignore -->
            <div id="header"></div>
        </nav>
    </header>
    <main class="cart main">
        <div class="cell">
            <!-- ======= section1 ======= -->
            <section class="section1__section1">
                <div class="section1__flexCol">
                    <h1 class="section1__title">Shopping Cart</h1>
                    <div class="section1__flexRow">
                        <div class="cell">
                            <div class="section1__flexCol1">
                                <div class="section1__flexRow1">
                                    <div class="section1__flexRow2">
                                        <div class="cell">
                                            <img src="\src\views\partials\assets\75fdeb9b91bd8ef291837951f7b44901.png"
                                                alt="alt text" class="section1__image" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="section1__flexCol2">
                                            <h3 class="section1__subtitle">CitiZ</h3>
                                            <h5 class="section1__highlights1">Red</h5>
                                            <h5 class="section1__highlights">$ 350</h5>
                                        </div>
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="section1__content_box">
                                        <div class="section1__flexRow3">
                                            <h5 class="section1__highlights11">-</h5>
                                            <div class="spacer"></div>
                                            <h5 class="section1__highlights12">1</h5>
                                            <div class="spacer"></div>
                                            <h5 class="section1__highlights13">+</h5>
                                        </div>
                                    </div>
                                    <div class="spacer1"></div>
                                    <div class="cell">
                                        <img src="\src\views\partials\assets\2d99cea9ae8f0ebdc7b7c15aaaf7bb08.png"
                                            alt="alt text" class="section1__icon" />
                                    </div>
                                </div>
                                <hr size="1" class="section1__line" />
                                <div class="section1__flexRow4">
                                    <div class="section1__flexRow5">
                                        <div class="cell">
                                            <img src="\src\views\partials\assets\dbe7a0b3cb634594a0f463552509cf63.png"
                                                alt="alt text" class="section1__image" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="section1__flexCol3">
                                            <h3 class="section1__subtitle1">BARISTA Cups</h3>
                                            <h5 class="section1__highlights14">Grey / Large</h5>
                                            <h5 class="section1__highlights2">$ 20</h5>
                                        </div>
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="section1__content_box">
                                        <div class="section1__flexRow6">
                                            <h5 class="section1__highlights15">-</h5>
                                            <div class="spacer"></div>
                                            <h5 class="section1__highlights16">1</h5>
                                            <div class="spacer"></div>
                                            <h5 class="section1__highlights17">+</h5>
                                        </div>
                                    </div>
                                    <div class="spacer1"></div>
                                    <div class="cell">
                                        <img src="\src\views\partials\assets\2d99cea9ae8f0ebdc7b7c15aaaf7bb08.png"
                                            alt="alt text" class="section1__image1" />
                                    </div>
                                </div>
                                <hr size="1" class="section1__line1" />
                                <div class="section1__flexRow4">
                                    <div class="section1__flexRow7">
                                        <div class="cell">
                                            <img src="\src\views\partials\assets\d64871942a4cb19f6be8a784442a7935.png"
                                                alt="alt text" class="section1__image" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="section1__flexCol4">
                                            <h3 class="section1__subtitle1">ORIGIN Cups</h3>
                                            <h5 class="section1__highlights18">White / Medium</h5>
                                            <h5 class="section1__highlights3">$ 10</h5>
                                        </div>
                                    </div>
                                    <div class="spacer2"></div>
                                    <div class="section1__content_box">
                                        <div class="section1__flexRow3">
                                            <h5 class="section1__highlights11">-</h5>
                                            <div class="spacer1"></div>
                                            <h5 class="section1__highlights12">1</h5>
                                            <div class="spacer1"></div>
                                            <h5 class="section1__highlights13">+</h5>
                                        </div>
                                    </div>
                                    <div class="spacer3"></div>
                                    <div class="cell1">
                                        <img src="\src\views\partials\assets\2d99cea9ae8f0ebdc7b7c15aaaf7bb08.png"
                                            alt="alt text" class="section1__icon" />
                                    </div>
                                </div>
                                <hr size="1" class="section1__line" />
                                <div class="section1__content_box7" onclick="">
                                    <h4 class="section1__highlights4">UPDATE CART</h4>
                                </div>
                                <div class="section1__flexRow8">
                                    <div class="section1__flexCol5">
                                        <div class="section1__info">Coupon Code</div>
                                        <hr size="1" class="section1__line3" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="section1__content_box6" onclick="">
                                        <h4 class="section1__highlights21">APPLY COUPON</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="cell">
                            <div class="section1__content_box5">
                                <div class="section1__flexCol6">
                                    <h2 class="section1__medium_title">Cart totals</h2>
                                    <div class="section1__flexCol7">
                                        <div class="cell">
                                            <div class="section1__flexRow9">
                                                <h5 class="section1__highlights5_box">
                                                    <span class="section1__highlights5"><span
                                                            class="section1__highlights5_span0">SUBTOTAL<br /></span><span
                                                            class="section1__highlights5_span1"><br /></span></span>
                                                </h5>
                                                <div class="spacer"></div>
                                                <h5 class="section1__highlights19">$380<br /></h5>
                                            </div>
                                        </div>
                                        <div class="cell1">
                                            <div class="section1__flexRow9">
                                                <h5 class="section1__highlights5_box">
                                                    <span class="section1__highlights5"><span
                                                            class="section1__highlights5_span0">SHIPPING</span><span
                                                            class="section1__highlights5_span1">
                                                            <br /></span></span>
                                                </h5>
                                                <div class="spacer1"></div>
                                                <h5 class="section1__highlights110">
                                                    Shipping costs will be calculated once you have
                                                    provided address.<br />
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section1__flexCol8">
                                        <div class="section1__flexCol9">
                                            <h5 class="section1__highlights51">
                                                CALCULATE SHIPPING
                                            </h5>
                                            <div class="section1__info1">SELECT A COUNTRY</div>
                                            <hr size="1" class="section1__line2" />
                                            <div class="section1__flexRow10">
                                                <div class="section1__info2">CITY</div>
                                                <div class="spacer"></div>
                                                <div class="cell">
                                                    <img src="\src\views\partials\assets\c127355d3564e6a377a76f8d373e3fd5.png"
                                                        alt="alt text" class="section1__image2" />
                                                </div>
                                            </div>
                                            <hr size="1" class="section1__line2" />
                                            <div class="section1__info3">POST CODE / ZIP</div>
                                            <hr size="1" class="section1__line2" />
                                            <div class="section1__content_box3" onclick="">
                                                <h4 class="section1__highlights41">UPDATE TOTALS</h4>
                                            </div>
                                        </div>
                                        <hr size="1" class="section1__line11" />
                                        <div class="section1__flexRow11">
                                            <h5 class="section1__highlights31">TOTAL</h5>
                                            <div class="spacer"></div>
                                            <h5 class="section1__highlights32">$380</h5>
                                        </div>
                                    </div>
                                    <div class="section1__content_box4" onclick="">
                                        <h4 class="section1__highlights22">
                                            PROCEED TO CHECKOUT
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ======= End section1 ======= -->
        </div>
        <div class="section2">
            <!-- prettier-ignore -->
            <div id="footer"></div>
        </div>
    </main>

</body>

</html>