<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/views/checkout/Checkout.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <div id="header"></div>
      </nav>
    </header>
    <main class="container">
      <div class="mb-4">
        <h1 class="text-center">Checkout</h1>
      </div>
      <div></div>
      <section>
        <div class="row">
          <div class="d-flex justify-content-center">
            <h5 class="mb-0">
              Returning customer?
              <a
                id="click-to-login"
                onclick="window.location.href='/frontend/views/layouts/loginPage/loginPage.html'"
                >Click here</a
              >
              to login
            </h5>
          </div>
          <div class="d-flex justify-content-center">
            <h5 class="mb-0">
              New customer?
              <a
                id="click-to-signup"
                onclick="window.location.href='/frontend/views/layouts/signUpPage/signUpPage.html'"
                >Click here</a
              >
              to signup!
            </h5>
          </div>
        </div>
        <hr class="mt-2" />
      </section>

      <section class="col">
        <div class="main-sec row">
          <div class="shipping col-md-4">
            <h3 class="mb-3" style="margin-top:1rem;">Shipping Details</h3>
            <div class="checkout row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Prefix">Prefix</label>
                  <div class="select-container">
                    <select class="form-select" aria-label="Floating label select example" name="Prefix">
                      <option value="Mr">Mr.</option>
                      <option value="Ms">Ms.</option>
                      <option value="Mrs">Mrs.</option>
                      <option value="Dr">Dr.</option>
                    </select>
                  </div>
                </div>
                
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first-name">First name</label>
                  <span class="must-fill">*</span>
                  <input
                    type="text"
                    class="form-control"
                    id="first-name"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last-name">Last name</label>
                  <span class="must-fill">*</span>
                  <input
                    type="text"
                    class="form-control"
                    id="last-name"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="company-name">Company Name</label>
                  <input type="text" class="form-control" id="company-name" />
                </div>
              </div>
              <div class="col-md-12">                
                <div class="form-group">
                  <label for="country">Country</label>
                  <span class="must-fill">*</span>
                  <div class="select-conainer">
                  <select
                    class="form-select countrySelect" 
                    aria-label="Floating label select example"
                    name="countrySelect"
                    required>
                </select>                  
                </div>
              </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="street-address">Street Address</label>
                  <span class="must-fill">*</span>
                  <input
                    type="text"
                    class="form-control"
                    id="street-address"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">Town / City</label>
                  <span class="must-fill">*</span>
                  <input type="text" class="form-control" id="city" required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="postcode">Postcode / ZIP</label>
                  <span class="must-fill">*</span>
                  <input
                    type="text"
                    class="form-control"
                    id="postcode"
                    required
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <span class="must-fill">*</span>
                  <input type="text" class="form-control" id="phone" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <span class="must-fill">*</span>
                  <input type="email" class="form-control" id="email" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="order-notes">Order notes</label>
                  <textarea
                    class="form-control"
                    id="order-notes"
                    rows="3"
                    placeholder="Got something to tell us?"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- ======= End section1 ======= -->
          <div class="order col-md-4">
            <h3 class="mb-3" style="margin-top:1rem;">YOUR ORDER</h3>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="mb-0">PRODUCT</h5>
              <h5 class="mb-0">TOTAL</h5>
            </div>
            <hr class="mb-3" />
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">CitiZ</h5>
              <h5 class="mb-0">350₪</h5>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">BARISTA Cups</h5>
              <h5 class="mb-0">20₪</h5>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">ORIGIN Cups</h5>
              <h5 class="mb-0">10₪</h5>
            </div>
            <hr class="mb-3" />
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">SUBTOTAL</h5>
              <h5 class="mb-0">380₪</h5>
            </div>
            <hr class="mb-3" />
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">SHIPPING</h5>
            </div>
            <div class="mb-4">
              <div id="select-container">
                <label for="ship-option">Delivery Option</label>
                <select class="form-select" id="ship-option" name="deliveryOption">
                  <option>Express Shipping (1-3 business days)</option>
                  <option>Regular Shipping (3-8 business days)</option>
                </select>
              </div>
            </div>
            <hr class="mb-3" />
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">TOTAL</h5>
              <h5 class="mb-0">380₪</h5>                 
            </div>
            <div class="payment-methods">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment-method"
                  id="credit-card"
                  value="credit-card"
                />
                <label class="form-check-label" for="credit-card">
                  <h5>Credit Card</h5>
                </label>
              </div>
              <span class="selection mb-0" id="credit-card-description"
                >Pay with a credit card
              </span>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="payment-method"
                  id="cash-on-delivery"
                  value="cash-on-delivery"
                />
                <label class="form-check-label" for="cash-on-delivery">
                  <h5>Cash on delivery</h5>
                </label>
              </div>
              <span class="selection mb-0" id="cash-on-delivery-description"
                >Pay at time of delivery
              </span>

              <div class="d-flex justify-content-between align-items-center mb-3">
              <form action="/backend/Service/exchangeRate" method="POST">            
                <strong class="mb-0"s>Convert Payment To:</strong>
                <select class="mt-1 ml-4 mr-3" id="currency" name="currency" required>
                  <option value="USD">USD</option>
                  <option value="EUR">EUR</option>
                  <option value="GBP">GBP</option>
                </select>
                  <button type="submit" class="btn-xs btn-dark ms-auto" id="convert-button">Convert</button>   
                </form>
                </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <input
                type="text"
                class="form form-control-xs"
                id="coupon-input"
                placeholder="Coupon Code"
                aria-label="Coupon Code"
                aria-describedby="apply-coupon"
                />
              <button class="btn btn-dark btn-sm"            
              style=" font-size: 1rem;"
              >
              Apply Coupon</button>
            </div>
            
            <button
              class="btn btn-success btn-block btn-lg btn-dark"
              onclick="window.location.href='/backend/views/layouts/orderConfirmation/orderConfirmation.ejs'"      
              >
              PLACE ORDER
            </button>
          </div>
        </div>
      </section>
    </main>
    <div id="footer"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
