.must-fill {
  color: red;
}

#click-to-login,
#click-to-signup {
  cursor: pointer;
  text-decoration: underline;
}

#paypal-description,
#credit-card-description,
#cash-on-description {
  display: none;
}

@media (max-width: 1024px),
(max-width: 768px),
(max-width: 425) {
  .row {
    flex-direction: column;
    align-content: center;
  }

  .row>section {
    flex-basis: 33%;
  }
}