.must-fill {
  color: red !important;
  display: inline;
  float: none;
}
#click-to-login,
#click-to-signup {
  cursor: pointer;
  text-decoration: underline;
}
#paypal-description,
#credit-card-description,
#cash-on-description {
  display: none;
}
