<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="/frontend/views/layouts/Checkout/Checkout.css" />
    <link rel="stylesheet" type="text/css" href="/frontend/views/partials/assets" />
    <script src="\frontend\node_modules\jquery\dist\jquery.min.js"></script>
    <script src="\frontend\views\layouts\Checkout\Checkout.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
</head>

<body class="flex-column">
    <header>
        <nav>
            <div id="header"></div>
        </nav>
    </header>
    <main class="container">
        <div class="mb-4">
            <h1 class="text-center">Checkout</h1>
        </div>
        <div class="row">
            <!-- ======= section1 ======= -->
            <section class="col-md-6">
                <div class="mb-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Returning customer? <a id="click-to-login"
                                onclick="window.location.href='\frontend\views\layouts\loginPage\loginPage.html'">Click
                                here</a> to login</h5>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">New customer? <a id="click-to-signup"
                                onclick="window.location.href='\frontend\views\layouts\sign-up\sign-up.html'">Click
                                here</a> to signup!</h5>
                    </div>
                    <hr class="mt-2 mb-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Coupon Code" aria-label="Coupon Code"
                            aria-describedby="apply-coupon">
                    </div>
                    <button class="btn btn-dark">APPLY COUPON</button>
                </div>
                <div class="mb-4">
                    <h3 class="mb-3">Shipping Details</h3>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Prefix">Prefix</label>
                                <select class="form-select" aria-label="Floating label select example" name="Prefix">
                                    <option value="Mr">Mr.</option>
                                    <option value="Ms">Ms.</option>
                                    <option value="Mrs">Mrs.</option>
                                    <option value="Dr">Dr.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first-name">First name</label>
                                <span class="must-fill">*</span>
                                <input type="text" class="form-control" id="first-name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="last-name">Last name</label>
                                <span class="must-fill">*</span>
                                <input type="text" class="form-control" id="last-name" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="company-name">Company Name</label>
                                <input type="text" class="form-control" id="company-name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <span class="must-fill">*</span>
                                <select class="form-select countrySelect" aria-label="Floating label select example"
                                    name="countrySelect" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="street-address">Street Address</label>
                                <span class="must-fill">*</span>
                                <input type="text" class="form-control" id="street-address" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postcode">Postcode / ZIP</label>
                                <span class="must-fill">*</span>
                                <input type="text" class="form-control" id="postcode" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">Town / City</label>
                                <span class="must-fill">*</span>
                                <input type="text" class="form-control" id="city" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <span class="must-fill">*</span>
                                <input type="text" class="form-control" id="phone" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <span class="must-fill">*</span>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="order-notes">Order notes</label>
                                <textarea class="form-control" id="order-notes" rows="3"
                                    placeholder="Got something to tell us?"></textarea>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- ======= End section1 ======= -->
            <section class="col-md-6">
                <div class="mb-4">
                    <h3 class="mb-3">YOUR ORDER</h3>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0">PRODUCT</h5>
                        <h5 class="mb-0">TOTAL</h5>
                    </div>
                    <hr class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0">CitiZ</h5>
                        <h5 class="mb-0">$350</h5>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0">BARISTA Cups</h5>
                        <h5 class="mb-0">$20</h5>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0">ORIGIN Cups</h5>
                        <h5 class="mb-0">$10</h5>
                    </div>
                    <hr class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0">SUBTOTAL</h5>
                        <h5 class="mb-0">$380</h5>
                    </div>
                    <hr class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0">SHIPPING</h5>
                        <h5 class="mb-0">Free shipping</h5>
                    </div>
                    <hr class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0">TOTAL</h5>
                        <h5 class="mb-0">$380</h5>
                    </div>
                    <div class="payment-methods">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="credit-card"
                                value="credit-card">
                            <label class="form-check-label" for="credit-card">
                                <h5>Credit Card</h5>
                            </label>
                        </div>
                        <span class="selection mb-0" id="credit-card-description">Pay with a credit card
                        </span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="cash-on-delivery"
                                value="cash-on-delivery">
                            <label class="form-check-label" for="cash-on-delivery">
                                <h5>Cash on delivery</h5>
                            </label>
                        </div>
                        <span class="selection mb-0" id="cash-on-delivery-description">Pay at time of delivery </span>
                        <span class="selection mb-0" id="paypal-description">Pay via PayPal </span>
                    </div>
                    <button class=" btn btn-success btn-block btn-lg"
                        onclick="window.location.href='\frontend\views\layouts\place-order\place-order.html'">PLACE
                        ORDER
                    </button>
                </div>
            </section>
        </div>
    </main>
    <div id="footer"></div>
</body>

</html>