<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="\frontend\views\layouts\Checkout\Checkout.css" />
    <link rel="stylesheet" type="text/css" href="\src\views\partials\Header\Header0.css" />
    <link rel="stylesheet" type="text/css" href="\src\views\partials\Footer\Footer.css" />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="\frontend\node_modules\jquery\dist\jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/frontend/views/partials/Header/Header.html");
            $("#footer").load("/frontend/views/partials/Footer/Footer.html");
        });
    </script>
</head>

<body class="flex-column">
    <header id="header" class="headroom">
        <nav class="max:show">
            <!-- prettier-ignore -->
            <div id="header"></div>
        </nav>
    </header>
    <main class="checkout main">
        <div class="cell">
            <!-- ======= section1 ======= -->
            <section class="section1__section1">
                <div class="section1__flexCol">
                    <h1 class="section1__title">Checkout</h1>
                    <div class="section1__flexRow">
                        <div class="section1__flexCol1">
                            <div class="section1__flexCol2">
                                <div class="section1__flexCol3">
                                    <h5 class="section1__highlights1_box">
                                        <span class="section1__highlights1"><span
                                                class="section1__highlights1_span0">Returning customer? </span><span
                                                class="section1__highlights1_span1">Click here to login</span></span>
                                    </h5>
                                    <h5 class="section1__highlights1_box">
                                        <span class="section1__highlights1"><span
                                                class="section1__highlights1_span0">Have a coupon? </span><span
                                                class="section1__highlights1_span1">Click here to enter your
                                                code</span></span>
                                    </h5>
                                </div>
                                <div class="section1__rect4">
                                    <div class="section1__rect41"></div>
                                </div>
                                <div class="cell">
                                    <div class="section1__flexCol4">
                                        <h5 class="section1__highlights">
                                            If you have a coupon code, please apply it below.
                                        </h5>
                                        <div class="section1__flexRow1">
                                            <div class="section1__flexCol5">
                                                <div class="section1__desc">Coupon Code</div>
                                                <hr size="1" class="section1__line4" />
                                            </div>
                                            <div class="spacer"></div>
                                            <div class="section1__content_box">
                                                <h4 class="section1__highlights4">APPLY COUPON</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section1__flexCol6">
                                <h2 class="section1__medium_title">Billing Details</h2>
                                <div class="section1__flexCol7">
                                    <div class="section1__flexRow2">
                                        <div class="section1__flexCol8">
                                            <h5 class="section1__highlights">First name *</h5>
                                            <hr size="1" class="section1__line" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="section1__flexCol9">
                                            <h5 class="section1__highlights2">Last name *</h5>
                                            <hr size="1" class="section1__line1" />
                                        </div>
                                    </div>
                                    <div class="section1__flexCol10">
                                        <h5 class="section1__highlights">Company Name</h5>
                                        <hr size="1" class="section1__line2" />
                                    </div>
                                    <div class="section1__flexCol10">
                                        <div class="section1__flexRow2">
                                            <h5 class="section1__highlights3">Country *</h5>
                                            <div class="spacer1"></div>
                                            <div class="cell">
                                                <img src="\src\views\partials\assets\fe83417045ca8840c041a05c15c0f6d3.png"
                                                    alt="alt text" class="section1__image" />
                                            </div>
                                        </div>
                                        <hr size="1" class="section1__line2" />
                                    </div>
                                    <div class="section1__flexCol10">
                                        <h5 class="section1__highlights">Street Address *</h5>
                                        <hr size="1" class="section1__line2" />
                                    </div>
                                    <div class="section1__flexCol10">
                                        <h5 class="section1__highlights">Postcode / ZIP *</h5>
                                        <hr size="1" class="section1__line2" />
                                    </div>
                                    <div class="section1__flexCol10">
                                        <h5 class="section1__highlights">Town / City *</h5>
                                        <hr size="1" class="section1__line2" />
                                    </div>
                                    <div class="section1__flexCol10">
                                        <h5 class="section1__highlights">Phone *</h5>
                                        <hr size="1" class="section1__line2" />
                                    </div>
                                    <div class="section1__flexCol10">
                                        <h5 class="section1__highlights">Email *</h5>
                                        <hr size="1" class="section1__line2" />
                                    </div>
                                    <div class="section1__flexCol11">
                                        <div class="section1__flexRow3">
                                            <div class="section1__rect1"></div>
                                            <h5 class="section1__highlights11">
                                                Create an acoount?
                                            </h5>
                                        </div>
                                        <div class="section1__flexRow4">
                                            <div class="section1__rect"></div>
                                            <h5 class="section1__highlights12">
                                                Ship to a different address?
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="section1__flexCol12">
                                        <h5 class="section1__highlights">Order notes</h5>
                                        <hr size="1" class="section1__line21" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="section1__flexCol13">
                            <h2 class="section1__medium_title1">YOUR ORDER</h2>
                            <div class="section1__content_box2">
                                <div class="section1__flexCol14">
                                    <div class="section1__flexRow5">
                                        <h5 class="section1__highlights13">PRODUCT</h5>
                                        <div class="spacer"></div>
                                        <h5 class="section1__highlights14">TOTAL</h5>
                                    </div>
                                    <hr size="1" class="section1__line3" />
                                    <div class="section1__flexRow6">
                                        <h5 class="section1__highlights21">CitiZ</h5>
                                        <div class="spacer"></div>
                                        <h5 class="section1__highlights5">$350</h5>
                                    </div>
                                    <div class="section1__flexRow7">
                                        <h5 class="section1__highlights22">BARISTA Cups</h5>
                                        <div class="spacer"></div>
                                        <h5 class="section1__highlights6">$20</h5>
                                    </div>
                                    <div class="section1__flexRow8">
                                        <h5 class="section1__highlights23">ORIGIN Cups</h5>
                                        <div class="spacer"></div>
                                        <h5 class="section1__highlights7">$10</h5>
                                    </div>
                                    <hr size="1" class="section1__line31" />
                                    <div class="section1__flexRow9">
                                        <h5 class="section1__highlights15">SUBTOTAL</h5>
                                        <div class="spacer"></div>
                                        <h5 class="section1__highlights5">$380</h5>
                                    </div>
                                    <hr size="1" class="section1__line32" />
                                    <div class="section1__flexRow9">
                                        <h5 class="section1__highlights16">SHIPPING</h5>
                                        <div class="spacer1"></div>
                                        <h5 class="section1__highlights8">Free shipping</h5>
                                    </div>
                                    <hr size="1" class="section1__line33" />
                                    <div class="section1__flexRow10">
                                        <h5 class="section1__highlights31">TOTAL</h5>
                                        <div class="spacer"></div>
                                        <h5 class="section1__highlights32">$380</h5>
                                    </div>
                                    <div class="section1__flexCol15">
                                        <div class="section1__flexRow3">
                                            <div class="cell">
                                                <img src="\src\views\partials\assets\5533d6f4de7c376b41676bc5b5edbeed.png"
                                                    alt="alt text" class="section1__image1" />
                                            </div>
                                            <h5 class="section1__highlights17">
                                                Direct bank transfer
                                            </h5>
                                        </div>
                                        <p class="section1__desc1">
                                            Make your payment directly into our bank account. Please
                                            use your Order ID as the payment reference. Your order
                                            will not be shipped until the funds have cleared in our
                                            account
                                        </p>
                                        <div class="section1__flexRow11">
                                            <div class="cell">
                                                <img src="\src\views\partials\assets\9a9eda9a730f969396cdebea15c94dd7.png"
                                                    alt="alt text" class="section1__image1" />
                                            </div>
                                            <h5 class="section1__highlights18">Check payments</h5>
                                        </div>
                                        <div class="section1__flexRow4">
                                            <div class="cell">
                                                <img src="\src\views\partials\assets\9a9eda9a730f969396cdebea15c94dd7.png"
                                                    alt="alt text" class="section1__image2" />
                                            </div>
                                            <h5 class="section1__highlights19">Cash on delivery</h5>
                                        </div>
                                        <div class="section1__flexRow12">
                                            <div class="cell">
                                                <img src="\src\views\partials\assets\9a9eda9a730f969396cdebea15c94dd7.png"
                                                    alt="alt text" class="section1__image1" />
                                            </div>
                                            <h5 class="section1__highlights110">PayPal</h5>
                                            <div class="cell1">
                                                <img src="\src\views\partials\assets\9a4a8757fe35d2fe39d10607794c9ff4.png"
                                                    alt="alt text" class="section1__icon" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section1__content_box1">
                                        <h4 class="section1__highlights41">PLACE ORDER</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ======= End section1 ======= -->
        </div>
        <div class="section2">
            <!-- prettier-ignore -->
            <div id="footer"></div>
        </div>
    </main>

</body>

</html>