.must-fill {
  color: red;
}

#click-to-login,
#click-to-signup {
  cursor: pointer;
  text-decoration: underline;
}


.checkout.row {
  display: flex;
  align-content: center;
  align-items: center;
}

.shipping {
  position: relative;
}

.order {
  position: relative;
  right: 0;
  align-content: center;
  align-items: center;
}

#ship-option {
  margin-top: 1.5rem;
  margin-left: 1.2rem;
  border-width: 0.1rem;
}